<html><head>
			<title>{{ page.title }}</title>
			<!-- Favicon -->
			<link rel="shortcut icon" type="image/jpg" href="/favicon.jpg"/>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		<style></style></head>
		<body data-new-gr-c-s-check-loaded="14.1009.0" data-gr-ext-installed="">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/alt/about.html">About</a></li>
				<li><a href="/alt/games.html">Games</a></li>	
				<li><a href="/alt/blog.html">Blog</a></li>	    			</ul>
			</nav>
			<div class="container">
			
			<div class="blurb">
	
</div><!-- /.blurb -->

			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:Don't Stalk Me">Email</a></li>
	        		<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Cool Link</a></li>
				</ul>
			</footer>
		

	
</body></html>